<!DOCTYPE html>
<html>
<head>
  <title>Dangerdanger</title>
  <%= stylesheet_link_tag    "dangerdanger/application", media: "all" %>
  <%= javascript_include_tag "dangerdanger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
